{% extends "OkcSiteBundle::layout.html.twig" %}

{% block content %}
    <div>


        <h4 class="text-center">Simuler vos charges pour une EURL à l'impot sur la société, profession libérals, gérant majoritaire : </h4>
        <br />
        <div class="text-center">
            <a class="button round radius" href="{{ path('_eurl_is_pl') }} ">
                CALCULER VOS CHARGES
            </a>
        </div>
    </div>
{% endblock %}
